/* Buttons */

.btn-main {
	background-color: $primary;
	color: $white;
	border-color: $primary;
	transition: all 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $primary;
    border-color: $primary;
    transition: all 0.3s ease-in-out;
  }
}

.btn-radio {
	color: $black !important;
	border-color: rgba($black, 0.1) !important;
	border-radius: 10px !important;
	padding: 7px 40px !important;
	font-weight: 400 !important;
	margin: 5px;

  &:hover {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  &.dropdown-toggle.show {
    color: $secondary !important;
    background-color: transparent;
    border-color: $secondary !important;
  }
}