/* Forms */
.form-check-input {
    margin-right: 20px;
}
.form-check-label {
    font-family: 'Cera Round Pro';
    font-weight: 400;
    letter-spacing: 0.02em;
}
.form-control {
    letter-spacing: 0.02em;
}
// .form-control::placeholder {
// 	color: var(--gray-color);
// }
// .form-control:focus {
// 	box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),0 0 0 .25rem #0099c821;
// 	border: 1px solid var(--secondary-color);
// }
// .form-control:focus-visible {
// 	outline: 0;
// }